h1 {
    color: green;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    box-sizing: border-box;
    border: 2px solid black;
}

#outputPanel {
    display: flex;
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 132, 255)
}

#buttonPanel {
    display: flex;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    border: 2px solid brown;
}