h1 {
    color: green;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    box-sizing: border-box;
    border: 2px solid black;
}

#outputPanel {
    display: flex;
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 132, 255)
}

#buttonsPanel {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    border: 2px solid brown;
}

button {
    width: 99px;
    height: 99px;
    font-size: large;
}

.delKeysPanel {
    display:flex;
    justify-content: flex-end;
}

.otherButtons {
    display:flex;
}

.numberButtons {
    display:flex;
    flex-wrap: wrap;
}

.operators {
    display:flex;
    flex-direction: column;
}